:root{
    --primary : #c93988;
    --on-primary : #ffffff;
    --SecondaryC : #e098a4;
    --on-SecondaryC : #1E192B;
    --Surface : #FFFBFE ;
    --Outline : #cf1433 ;

} 
body{
--height: 55px;
--padding: 0 35px;
--rudios: calc( var(--height) / 3 );
--align : center;
--fontsize : 14px;
--fontfamily : 'Roboto' ;
}   
.btn{
cursor: pointer;
height: var(--height);
border-radius: var(--rudios);
padding: var(--padding);
text-align: var(--align);
font-size: var(--fontsize);
font-weight: 800;
font-family:  var(--fontfamily); ;
letter-spacing: 0.2em;
line-height: calc( var(--height) - 3px );

}
.btn > *{

vertical-align: middle;

}
.btn.filled{
background-color: var(--primary);
color: var(--on-primary);
border-color: transparent;

}
.btn.filled i{
color: var(--on-primary);
font-size: 18px;
padding-right: 8px;
}
.btn.filledtonal{
background-color: var(--SecondaryC);
color: var(--on-SecondaryC);
border-color: transparent;
}
.btn.filledtonal i{
color: var(--on-SecondaryC);
font-size: 18px;
padding-right: 8px;
}
.btn.Outlined{
background-color: var(--Surface);
color: var(--primary);
border-color: var(--Outline);

}
.btn.Outlined i{
color: var(--primary);
font-size: 20px;
padding-right: 12px;

}
.btn.text{
background-color: var(--on-primary);
color: var(--primary);
border: #30dd19 ;


}
.btn.text i{
color: var(--primary);
font-size: 20px;
padding-right: 12px;
padding-left: 6px;
}